.todo__list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .todo__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--base-color);
  }
}