.todo__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;

  li {
    position: relative;
    border-bottom: 1px solid var(--base-color);
    padding-bottom: 8px;
    padding-left: 64px;
  }

  .checked::before {
    border-color: var(--base-color);
    background-color: var(--base-color);
    cursor: pointer;
  }

  .checked::after {
    content: '\2714';
    position: absolute;
    top: -1px;
    left: 4px;
    cursor: pointer;
  }

  span {
    position: absolute;
    top: 0;
    right: 0;
    scale: 2;
    color: var(--label-color);
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;
  }

  span:hover{
    color: red;
  }
}

li::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid var(--base-color);
  top: 0;
  left: 0;
  background-color: transparent;
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  color: var(--label-color);
}




