@use 'helpers/mixins' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base), sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-color);
  background-color: var(--light-color);
}

h1,
.h1 {
  @include fluid-text(64, 28);

  font-weight: 600;
  line-height: 1.2;
  text-transform: var(--text-transform-base);
}

h2,
.h2 {
  @include fluid-text(48, 24);

  font-weight: 600;
  text-transform: var(--text-transform-base);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
  text-transform: none;
  user-select: none;
}

.todo__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.theme__dark{
  background-color: var(--dark-color);
  color: var(--light-color);
}

.theme__light{
  background-color: var(--light-color);
  color: var(--dark-color);
}
