:root {
  --base-color: #6C63FF;
  --dark-color: #252525;
  --light-color: #F7F7F7;
  --label-color: #C3C1E5;

  --border-radius: 5px;

  --transition-duration: 0.2s;

  --font-family-base: 'Kanit';

  --text-transform-base: uppercase;
}






